OPENAI_API_KEY=your_openai_api_key

# Optional
OPENAI_PROXY=

# App
APP_HOST=0.0.0.0
APP_PORT=25001
CMS_VALIDATION_URL=/v1/cms-validation

# LLM
MODEL_DEFAULT=gpt-4.1-mini
MODEL_SEVERITY=gpt-4.1-mini
TIMEOUT=50
MAX_TRY=2

# Logging
LOG_LEVEL=INFO
